@model FitnessApp.Web.ViewModels.SpaProcedures.SpaProceduresDetailsViewModel

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@Model.Name</h2>
</div>
<hr />

<div class="row justify-content-center" style="margin: 0 auto; max-width: 800px;">
    <div class="col-md-4 text-center">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" class="img-fluid" style="max-width: 100%; height: auto;" alt="@Model.Name" />
        }
        else
        {
            <img src="~/img/no-image-available-02.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="No Image Available" />
        }
    </div>

    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <hr />
            <h6 class="card-subtitle mb-2 text-muted">@String.Format("{0:F2}", Model.Price) BGN</h6>
            <hr />
            <p class="card-text">@Model.Description</p>
            <hr />
            <p class="card-text"><small class="text-muted">Duration: @Model.Duration minutes</small></p>
            <hr />

            <form asp-action="AddToMySpaAppointments" method="post">
                <input type="hidden" name="id" value="@Model.Id" />

                <div class="form-group">
                    <label for="appointmentDateTime">Select Appointment Date and Time</label>
                    <input type="datetime-local" name="appointmentDateTime" id="appointmentDateTime" class="form-control" lang="en" required />
                </div>

                <button type="submit" class="btn btn-success mt-2 w-100">Book Now</button>
                <a asp-controller="SpaProcedure" asp-action="Index" class="btn btn-success mt-2 w-100" style="border: none;">Back</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const appointmentDateTimeInput = document.getElementById("appointmentDateTime");

            const today = new Date();
            const daysToAdd = [6, 0];

            for (let i = 0; i < 30; i++) { 
                const date = new Date();
                date.setDate(today.getDate() + i);

                if (daysToAdd.includes(date.getDay())) {
                    const dateString = date.toISOString().split("T")[0];
                    const option = document.createElement("option");
                    option.value = dateString;
                    option.textContent = dateString;
                    appointmentDateTimeInput.appendChild(option);
                }
            }
        });
    </script>
}
