@model IEnumerable<FitnessApp.Web.ViewModels.SpaProcedures.AllSpaProceduresViewModel>

@{
	ViewBag.Title = "My Spa Appointments";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
	@foreach (var appointment in Model)
	{
		<div class="card col-4" style="width: 20rem;">
			<div class="card-body d-flex flex-column" style="height: 100%;">
				<h5 class="card-title mt-1">@appointment.Name</h5>
				<img class="card-img-top" src="@appointment.ImageUrl" alt="Spa Procedure Image" style="max-height: 200px; object-fit: cover; width: 100%;">

				<hr class="mt-2 mb-2" />

				<p class="mt-2 flex-grow-1" style="min-height: 80px;">@appointment.Description</p>
				<p class="text-muted" style="margin-top: auto; text-align: center;">
					Appointment Date and Time:<br />
					@appointment.AppointmentDateTime.ToString("dddd, dd MMMM yyyy HH:mm")
				</p>

				<div class="mt-auto">
					<a asp-controller="SpaProcedure" asp-action="RemoveFromMySpaAppointment" asp-route-id="@appointment.Id" class="btn btn-danger w-100">Remove</a>
				</div>
			</div>
		</div>
	}
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}