@model IEnumerable<FitnessApp.Web.ViewModels.InstructorViewModels.AllInstructorsViewModel>

@{
    ViewData["Title"] = "Manage Instructors";
}

<h1 class="text-center mb-4 text-primary">@ViewData["Title"]</h1>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary mb-3">Go Back</a>
<a asp-controller="InstructorsManagement" asp-action="Add" class="btn btn-primary mb-3">Add Instructor</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Full Name</th>
            <th>Specialization</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var instructor in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(instructor.ImageUrl))
                        {
                            <img src="@instructor.ImageUrl" alt="@instructor.FirstName @instructor.LastName" style="max-width: 100px; max-height: 100px;" />
                        }
                        else
                        {
                            <img src="~/img/no-image-available-02.jpg" alt="No Image Available" style="max-width: 100px; max-height: 100px;" />
                        }
                    </td>
                    <td>@instructor.FirstName @instructor.LastName</td>
                    <td>@instructor.Specialization</td>
	                <td>
		                <a asp-controller="InstructorsManagement" asp-action="Edit" asp-route-id="@instructor.Id" class="btn btn-warning btn-sm">Edit</a>
		                <a asp-controller="InstructorsManagement" asp-action="Delete" asp-route-id="@instructor.Id" class="btn btn-danger btn-sm">Delete</a>
	                </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">No instructors found.</td>
            </tr>
        }
    </tbody>
</table>