@model IEnumerable<FitnessApp.Web.ViewModels.ClassViewModels.AllClassesViewModel>

@{
	ViewData["Title"] = "Available Fitness Classes";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="text-center row">
	@foreach (var fitnessClass in Model)
	{
		<div class="card col-4" style="width: 20rem;">
			<div class="card-body d-flex flex-column" style="height: 100%;">
				<h5 class="card-title mt-1">@fitnessClass.Name</h5>
				@if (!string.IsNullOrEmpty(fitnessClass.ImageUrl))
				{
					<img class="card-img-top" src="@fitnessClass.ImageUrl" alt="@fitnessClass.Name" style="max-height: 200px; object-fit: cover; width: 100%;">
				}
				else
				{
					<img class="card-img-top" src="https://via.placeholder.com/200" alt="No Image Available" style="max-height: 200px; object-fit: cover; width: 100%;">
				}

				<hr class="mt-2 mb-2" />

				<p class="mt-2 flex-grow-1">Schedule: @fitnessClass.Schedule.ToString("MMMM dd, yyyy HH:mm")</p>
				<p class="text-muted" style="margin-top: auto; text-align: center;">
					Duration: @fitnessClass.Duration minutes
				</p>

				<div class="mt-auto">
					<a asp-controller="Class" asp-action="Details" asp-route-id="@fitnessClass.Id" class="btn btn-success w-100">View Details</a>
				</div>
			</div>
		</div>
	}
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}