@model FitnessApp.Web.ViewModels.MembershipTypeViewModels.MembershipTypeDetailsViewModel

@{
	ViewData["Title"] = "Membership Type Details";
}

<h2>@Model.Name</h2>
<hr />

<div class="row justify-content-center" style="margin: 0 auto; max-width: 800px;">
	<div class="col-md-4 text-center">
		@if (!string.IsNullOrEmpty(Model.ImageUrl))
		{
			<img src="@Model.ImageUrl" class="img-fluid" style="max-width: 100%; height: auto;" alt="@Model.Name" />
		}
		else
		{
			<img src="~/img/no-image-available-02.jpg" class="img-fluid" style="max-width: 100%; height: auto;" alt="No Image Available" />
		}
	</div>

	<div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title">@Model.Name</h5>
			<hr />
			<p><strong>Description:</strong> @Model.Description</p>
			<p><strong>Price:</strong> @Model.Price.ToString("C")</p>
			<p><strong>Duration:</strong> @Model.Duration days</p>

			@if (TempData["ErrorMessage"] != null)
			{
				<div class="alert alert-danger">
					@TempData["ErrorMessage"]
				</div>
			}

			<form method="post" asp-action="AddMyMembership" asp-route-id="@Model.Id">
				<button type="submit" class="btn btn-primary mt-2 w-100">Subscribe</button>
				<a asp-controller="MembershipType" asp-action="Index" class="btn btn-success mt-2 w-100" style="border: none;">Back</a>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}